<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/files/css/admin.css">
    </head>
    <body>

        <section>
            <div class="nav">
                <ul>
                    
                    <li>
                        <a href="/">
                            <span class="icono"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="titulo">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Adminperfiles">
                            <span class="icono"><ion-icon name="people-outline"></ion-icon></span>
                            <span class="titulo">Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Adminprod">
                            <span class="icono"><ion-icon name="cart-outline"></ion-icon></span>
                            <span class="titulo">Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/promocion">
                            <span class="icono"><ion-icon name="megaphone-outline"></ion-icon></span>
                            <span class="titulo">Promociones</span>
                        </a>
                    </li>
                    <li>
                        <a href="/consultas">
                            <span class="icono"><ion-icon name="information-circle-outline"></ion-icon></span>
                            <span class="titulo">Consultas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/orden">
                            <span class="icono"><ion-icon name="clipboard-outline"></ion-icon></span>
                            <span class="titulo">Ordenes Compra</span>
                        </a>
                    </li>
                    <li>
                        <a href="/venta">
                            <span class="icono"><ion-icon name="bag-handle-outline"></ion-icon></span>
                            <span class="titulo">Ventas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/devolucion">
                            <span class="icono"><ion-icon name="swap-horizontal-outline"></ion-icon></span>
                            <span class="titulo">Devoluciones</span>
                        </a>
                    </li>
                    <li>
                        <a href="/proveedor">
                            <span class="icono"><ion-icon name="log-out-outline"></ion-icon></span>
                            <span class="titulo">Proveedores</span>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="container">
                <div class="topbar">
                    <div class="toggle">
                        <ion-icon name="menu"></ion-icon>
                    </div> 
                
                    <div class="buscar">
                        <label for="">
                            <input type="text" placeholder="Buscar..." name="" id="">
                            <ion-icon name="search"></ion-icon>
                        </label>
                    </div>
                    <div class="perfil-usuario">
                        <img src="/files/img/IMG/Sample_User_Icon.png" alt="">
                    </div>
                </div>

                <div class="cards">
                    <div class="card">
                        <div>
                            <span class="card-numeros">3.231</span>
                            <span class="card-nombre">Visitas</span>
                        </div>
                        <div class="card-icono">
                            <ion-icon name="eye"></ion-icon>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <span class="card-numeros">1.600</span>
                            <span class="card-nombre">Ventas</span>
                        </div>
                        <div class="card-icono">
                            <ion-icon name="cash"></ion-icon>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <span class="card-numeros">298</span>
                            <span class="card-nombre">Mensajes</span>
                        </div>
                        <div class="card-icono">
                            <ion-icon name="mail-unread"></ion-icon>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <span class="card-numeros">$5.000</span>
                            <span class="card-nombre">Ganancias</span>
                        </div>
                        <div class="card-icono">
                            <ion-icon name="trending-up"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="detalles">
                    <div class="ordenes-recientes">
                        <div class="header">
                            <h2>Ordenes Recientes</h2>
                            <a href="#" class="boton">Ver Todos</a>
                        </div>
                        <table>
                            <thead>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Fecha</th>
                                <th>Estatus</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3</td>
                                    <td>Felipe</td>   
                                    <td>$45.000</td>
                                    <td>10.11.2024</td> 
                                    <td><span class="estatus pagado">pagado</span></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Sebastian</td>
                                    <td>$70.000</td>
                                    <td>05.11.2024</td>
                                    <td><span class="estatus pagado">Pagado</span></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Natan</td>
                                    <td>$35.000</td>
                                    <td>02.12.2024</td>
                                    <td><span class="estatus pagado">Pagado</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Cristobal</td>
                                    <td>$65.000</td>
                                    <td>21.10.2024</td>
                                    <td><span class="estatus pagado">pagado</span></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Alexis</td>
                                    <td>$52.000</td>
                                    <td>30.11.2024</td>
                                    <td><span class="estatus pagado">pagado</span></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Roberto</td>
                                    <td>$50.000</td>
                                    <td>25.11.2024</td>
                                    <td><span class="estatus pagado">pagado</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>  
            </div>    
        </section>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>