<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/files/css/formulariopro.css">
    </head>
    <body>

        <section>
           <div class="nav">

                <ul>
                  
                    <li>
                        <a href="/">
                            <span class="icono"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="titulo">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Adminperfiles">
                            <span class="icono"><ion-icon name="people-outline"></ion-icon></span>
                            <span class="titulo">Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Adminprod">
                            <span class="icono"><ion-icon name="cart-outline"></ion-icon></span>
                            <span class="titulo">Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/promocion">
                            <span class="icono"><ion-icon name="megaphone-outline"></ion-icon></span>
                            <span class="titulo">Promociones</span>
                        </a>
                    </li>
                    <li>
                        <a href="/consultas">
                            <span class="icono"><ion-icon name="information-circle-outline"></ion-icon></span>
                            <span class="titulo">Consultas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/orden">
                            <span class="icono"><ion-icon name="clipboard-outline"></ion-icon></span>
                            <span class="titulo">Ordenes Compra</span>
                        </a>
                    </li>
                    <li>
                        <a href="/venta">
                            <span class="icono"><ion-icon name="bag-handle-outline"></ion-icon></span>
                            <span class="titulo">Ventas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/devolucion">
                            <span class="icono"><ion-icon name="swap-horizontal-outline"></ion-icon></span>
                            <span class="titulo">Devoluciones</span>
                        </a>
                    </li>
                    <li>
                        <a href="/proveedor">
                            <span class="icono"><ion-icon name="log-out-outline"></ion-icon></span>
                            <span class="titulo">Proveedores</span>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="container">
                <div class="topbar">
                    <div class="toggle">
                        <ion-icon name="menu"></ion-icon>
                    </div> 
                
                    <div class="buscar">
                        <label>
                            <input type="text" placeholder="Buscar..." name="" id="">
                            <ion-icon name="search"></ion-icon>
                        </label>
                    </div>
                    <div class="perfil-usuario">
                        <img src="/files/img/IMG/Sample_User_Icon.png" alt="">
                    </div>
                </div>

                <div class="detalles">
                    <form action="/formulariocliente" method="POST">
                        <div class="ordenes-recientes">
                            <div class="header">
                                <h2>Nuevo Cliente</h2>
                                <a href="/Adminperfiles" class="boton">Atras</a>
                            </div>
                            <section class="form-product">
                            
                                <label for="nombre">Nombre</label>
                                <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese Nombre">

                                <label for="telefono">Telefono</label>
                                <input class="controls" type="number" name="telefono" id="telefono" placeholder="Ingrese el Telefono">
                                
                                <label for="direccion">Direccion</label>
                                <input class="controls" type="text" name="direccion" id="direccion" placeholder="Ingrese Direccion">
                                
                                <label for="fecha_registro">Fecha de Registro</label>
                                <input class="controls" type="date" id="fecha_registro" name="fecha_registro" required>

                                <label for="Email_Cliente">Email</label>
                                <input class="controls" type="text" name="Email_Cliente" id="Email_Cliente" placeholder="Ingrese Correo">

                                <label for="fecha">Agregar Cliente</label>
                                <input class="botons" type="submit" value="Agregar Cliente">
                            </section>
                        </div>
                    </form>
                </div>  
            </div>    
        </section>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </body>
</html>
